@import url('http://fonts.cdnfonts.com/css/cobbler');
body{
	font-family: 'Cobbler', sans-serif;
}
.box {
	text-align: center;
	margin-left: 30%;
	width: 35%;
	height: auto;
	margin-top: 50px;
	border: 1px solid black;
	border-radius: 25px;
	background-color: #EDEDED;

}
.addarea{
	width: 91%;
	height: 45px;
}
.add {
	width: 91%;
	height: 40px;
	margin-top: 10px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
}
.inbox {
	display: inline-block;
 	width: 90.5%;
 	border: 2px solid black;
 	text-align: left;
 	font-size: 30px;
 	margin-bottom: 15px;
 	border-radius: 4px;
 	background-color: white;

}
.delete {
	display: inline-block;
	float: right;
	width: 10%;
	height: 50px;
	background-color: red;
	color: white;
	border: none;
}
.exaple{
	float: left;
	padding-left: 40px ; 
}
label{
	display: inline-block;
	margin-left: 20px;

}
input[type=checkbox] {
	display: inline-block;
    transform: scale(3);
    margin-left: 20px;
}
.progress{
	width: 30%;
	text-align: center;
	margin-left: 32%;
	margin-top: 10px;
	background-color: lightgray;
}
.done{
	text-decoration: none;
	width: 50%;
	text-align: center;
	background-color: orange;
	color: white;
}
footer {text-align: center;
		margin-right: 100px;
}

