<script>
  import axios from "axios";

  import { todo } from "../store/todo";
  import { error } from "../store/error";

  let title = "";


  const addTodo = async () => {
    try {
      const data = await axios
        .post("http://localhost:5000/api/todo", {
          title,
        })
        .then(({ data }) => data);

      if (data.status === "success") {
        todo.add(data.data);
      }

      title = "";
      error.remove()
    } catch (err) {
      if(err.response.data.errors) {
        error.set(err.response.data.errors[0].msg)
      }
    }
  };

</script>

<div class="header">
  <span class="header--title"> Todo List </span>
  <div class="header--inputblock">
    <input bind:value={title} class="header--inputblock--input" />
    <button on:click={addTodo} class="header--inputblock--add">
      Добавить
    </button>
    <span class="header--inputblock--error">{$error.msg}</span>
  </div>
  
</div>

<style lang="scss">
  .header {
    display: flex;
    flex-direction: column;

    &--title {
      color: #777;
      font-size: 32px;
      margin-bottom: 15px;
    }

    &--inputblock {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 22px;

      &--input {
        border-radius: 0;

        height: 40px;
        padding: 5px 10px 5px 10px;

        width: 100%;

        &:focus {
          outline: none;
        }
      }

      & button {
        background-color: #92b212;
        color: #f9f9f9;
        border-radius: 0;
        cursor: pointer;

        border-color: #d6d8d9;

        height: 40px;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: 0.2s;

        padding: 5px 10px;

        &:hover {
          background-color: #004500;
        }
      }

      &--error {
        color: red;
      }
    }
  }
</style>
