<script lang="ts">
  import { todo } from "../store/todo";
    
    import TodoItem from "./TodoItem.svelte";
</script>


{#each $todo as item} 
    <TodoItem item={item} />
{/each}

<style lang="scss">
</style>
