<script lang="ts">
    import axios from "axios";

    import Checkbox from "svelte-checkbox";

    import { todo } from "../store/todo";
    import { error } from "../store/error";

    import type ITodo from "../interfaces/ITodo";

    export let item: ITodo;

    const deleteItem = async (id: string): void => {
        const data = await axios
            .delete("http://localhost:5000/api/todo/" + id)
            .then(({ data }) => data);

        error.remove();
        if (data.status === "success") {
            todo.remove(id);
        }
    };

    const changeItem = async (event): void => {
        try {
            const data = await axios
                .patch("http://localhost:5000/api/todo/" + item.id, { ...item })
                .then(({ data }) => data);
            todo.edit(item);
            error.remove();
        } catch (err) {
            if (err.response.data.errors) {
                error.set(err.response.data.errors[0].msg);
            }
        }
    };

    const checkTodo = async (id: string): void => {
        await axios.put("http://localhost:5000/api/todo/" + item.id)
        todo.check(id)
    };
</script>

<div class="item">
    <div class="item--left">
        <div class="item--left--checkbox">
            <Checkbox
                class="main__checkbox"
                size="1.5rem"
                checked={item.isCompleted}
                on:change={() => checkTodo(item.id)}
                name="completed"
                secondaryColor="rgba(1, 50, 67,0.2)"
                primaryColor="#92b212"
            />
        </div>
        <div class="item--left--title">
            <textarea
                rows="4"
                cols="1000"
                on:change={(event) => changeItem(event)}
                bind:value={item.title}
            />
        </div>
    </div>
    <div class="item--right">
        <div class="item--right--buttons">
            <button on:click={() => deleteItem(item.id)}>Delete</button>
        </div>
    </div>
</div>

<style lang="scss">
    .item {
        position: relative;
        display: flex;
        width: 100%;
        border: 1px solid #c9c9c9;
        align-items: center;
        justify-content: space-between;
        padding: 12px 10px 12px 10px;
        margin-bottom: 5px;

        &--left {
            display: flex;
            align-items: center;
            width: 100%;
            padding-right: 15px;
            &--title {
                & textarea {
                    width: 100%;
                    overflow-wrap: break-word;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    margin: 0;
                    resize: none;
                }
            }
        }

        &--right {
            &--buttons {
                width: 20%;
            }
        }
    }
</style>
