<script lang="ts">
    export let value: number;

</script>

<div class="progress">
    <a>{value}%</a>
    <div style="width: {value}%" class="progress--done" />
</div>

<style lang="scss">
    .progress {
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 10px;
        background-color: lightgray;
        border-radius: 5px;
        &--done {
            height: 25px;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            background-color: #92b212;
            transition: 1s;
        }
        a {
            position: absolute;
            left: '50%';
            transform: translateX(-50%);
            top: '50%';
            color: white;
        }
    }
</style>
