<script lang="ts">
  import TodoHeader from "./TodoHeader.svelte";
  import axios from "axios";
  import { todo } from "../store/todo";

  import type ITodo from '../interfaces/ITodo'

  import TodoList from "./TodoList.svelte";
import TodoProgress from "./TodoProgress.svelte";

  const fetchData = async () => {
    const data = await axios
      .get("http://localhost:5000/api/todo")
      .then(({ data }) => data);
    todo.set(data.data);
    console.log(data);
  };
  fetchData();

  $: checkTodos = (todoList: Array<ITodo>): number => {
    let value = 0;

    todoList.forEach(item => {
      if(item.isCompleted) {
        value += 1
      }
    });

    return value
  }

  $: checkedTodo = checkTodos($todo)
</script>

<div class="box">
  <TodoHeader />
  <TodoList />
  {#if $todo.length > 0}
    <TodoProgress value={parseInt(checkedTodo/$todo.length * 100)} />
  {/if}
</div>

<style lang="scss">
  .box {
    text-align: center;
    border-radius: 5px;
    background-color: #ededed;
    padding: 20px 30px;
  }
</style>
