<script lang="ts">
import Todo from "./components/Todo.svelte";

	
</script>

<main class="app">
	
	<Todo />

</main>

<style>
	:global(*) {
		box-sizing: border-box;
	}

	:global(body) {
		margin: 0;
		font-size: 16px;
		font: 400 16px/1.5 sans-serif;
		color: #333;
	}

	:global(.main__checkbox) {
		margin-right: 15px;
	}

	.app {
		width: 50%;
		max-width: 500px;
		padding: 50px 15px;
		margin: 0 auto;
	}
</style>